<h1>Friends</h1>
<p>Hi, {{username}}!</p>
{{#if hasFriends}}
<div id="friend-list">
    <p>There are {{friends.length}} people that you are following:</p>
    {{#each friends as |friend|}}
    <form class="friend-form" action="/friends/unfriend" method="post">
        <input type="text" value="{{friend._id}}" name="friend_id" hidden />
        <p>{{friend.username}}</p>
        <input class="unfriend-button" type="submit" value="unfollow" />
    </form>
    {{/each}}
</div>
<p>(They may not be following you).</p>
{{else}}
<p>It looks like you are not following anyone.</p>
{{/if}}