<head>
  <link rel="stylesheet" href="/stylesheets/post-feed.css" />
</head>
<h1>Post Feed</h1>

<a class="new-post-link" href="/posts/new">create new post</a>
<ul class="posts">
  {{#each posts as |post|}}
  <div class="post-block">
    <div class="post-metadata">
      <h1>{{author.username}}</h1>
      <div class="user-picture-feed">
        {{#if author.profile_pic}}
        <img src="{{author.profile_pic}}" width="100" height="100">
        {{else}}
        <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" width="100" height="100">
        {{/if}}
      </div>
      {{#if author.isFriendOfUser}}
        <form class="friend-form" action="/friends/unfriend" method="post">
          <input type="text" value="{{author._id}}" name="friend_id" hidden />
          <input id="{{author._id}}" class="unfriend-button" type="submit" value="Unfollow" />
        </form>
      {{else}}
        {{#if post.authorIsUser}}
          <p>Author</p>
        {{else}}
          <form class="friend-form" action="/friends/follow" method="post">
            <input type="text" value="{{author._id}}" name="friend_id" hidden />
            <input id="{{author._id}}" class="unfriend-button" type="submit" value="Follow" />
          </form>
        {{/if}}
      {{/if}}
      <p>{{post.likes.count}} likes</p>
      <p>{{post.comments.length}} comments</p>
      <p>{{post.dateString}}</p>
    </div>
    <div class="post-contents">
      <a class="post-block-link" href="/singlepost?id={{post._id}}"></a>
      <p>{{post.message}}</p>
      {{#if post.photo}}
      <img src="{{post.photo}}" width="200" height="150" />
      {{else}}
      <p></p>
      {{/if}}
    </div>
  </div>
  {{/each}}
</ul>