<head>
  <link rel='stylesheet' href='/stylesheets/post-feed.css' />
</head>
<h1>Post Feed</h1>

<a class="new-post-link" href="/posts/new">create new post</a>
<ul class="posts">
  {{#each posts as |post|}}
  <div class="post-block">
    <div class="post-metadata">
      <a class="post-block-link" href="/singlepost?id={{post._id}}"></a>
      <h1>{{author.username}}</h1>
      <img class="user-avatar" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" width="100" height="100">
      <p>{{post.likes.count}} likes</p>
      <p>{{post.comments.length}} comments</p>
      <p>{{post.dateString}}</p>
    </div>
    <div class="post-contents">
      <a class="post-block-link" href="/singlepost?id={{post._id}}" ></a>
      <p>{{post.message}}</p>
      {{#if post.photo}}
      <img src="{{post.photo}}" width="200" height="150">
      {{else}}
      <p></p>
      {{/if}}
    </div>
  </div>
  {{/each}}
</ul>